/* Reference: https://tailwindcss.com/docs/theme */
@theme {
    /* Font Family */
    --font-*: initial; /* Removes Default Font Families */
    --font-header: 'IBM Plex Sans', 'Impact', 'Franklin Gothic Bold', 'sans-serif';
    --font-subheader: 'Oswald', 'Impact', 'Franklin Gothic Bold', 'sans-serif';
    --font-body: 'Barlow', 'Franklin Gothic Medium', 'Tahoma', 'sans-serif';

    /* Font Size */
    --text-*: initial; /* Removes Default Font Sizes */
    --text--ms-3: 11px;
    --text--ms-2: 12px;
    --text--ms-1: 14px;
    --text-ms-0: 16px;
    --text-ms-1: 18px;
    --text-ms-2: 20px;
    --text-ms-3: 22px;
    --text-ms-4: 25px;
    --text-ms-5: 28px;
    --text-ms-6: 32px;
    --text-ms-7: 36px;
    --text-ms-8: 41px;
    --text-ms-9: 46px;
    --text-ms-10: 51px;
    --text-ms-11: 58px;
    --text-ms-12: 65px;
    --text-ms-13: 73px;

    /* Colors */
    --color-*: initial; /* Removes Default Colors */

    /* Primary Color Pallet */
    --color-primary-light: #e52560;
    --color-primary: #a01b44;
    --color-primary-dark: #710627;

    /* Secondary Color Pallet */
    --color-secondary-light: #fdf0a9;
    --color-secondary: #dbc764;
    --color-secondary-dark: #d0b635;

    /* Tertiary Color Pallet */
    --color-tertiary-light: #d3356c;
    --color-tertiary: #a01b44;
    --color-tertiary-dark: #710627;

    /* Greyscale */
    --color-grey-100: #f1f1f1;
    --color-grey-300: #d2d2d2;
    --color-grey-500: #9a9a9a;
    --color-grey-700: #5a5a5a;
    --color-grey-900: #1a1818;

    /* Constants */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-transparent: transparent;

    /* Feedback Tones */
    --color-feedback-success: #6dcff6;
    --color-feedback-warning: #fdf0a9;
    --color-feedback-error: #f69679;

    /* Social Icons */
    --color-social-facebook: #0866FF;
    --color-social-flickr: #ff0084;
    --color-social-houzz: #7ac142;
    --color-social-instagram: #833ab4;
    --color-social-linkedin: #0B66C3;
    --color-social-medium: rgba(0, 0, 0, 0.84);
    --color-social-pinterest: #cc2127;
    --color-social-rss: #f26522;
    --color-social-tumblr: #35465c;
    --color-social-twitter: #000000;
    --color-social-youtube: #EA3223;
    --color-social-vimeo: #1ab7ea;
    --color-social-yelp: #f43939;

    /* Links & Forms */
    --color-color-link: #a01b44;
    --color-color-field: #E4EEF7;
    --color-color-field-required: #F2EED6;
}