/*@tailwind utilities;*/

@layer utilities {
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		@apply container;
	}

	.container-sm {
		max-width: theme('screens.sm');
	}

	.container-md {
		max-width: theme('screens.md');
	}

	.container-lg {
		max-width: theme('screens.lg');
	}

	.container-xl {
		max-width: theme('screens.xl');
	}

	.btn {
		background: #123456;
	}
}

/*.btn {*/
/*	color: #123456;*/
/*}*/
