/* Pre-flight Styles */
@import './base/_preflight.pcss';
@tailwind base;

/* UI Components */
@import './components/_container.pcss';
@import './components/_forms.pcss';
@import './components/_buttons.pcss';
@tailwind components;

/* Utility Classes */
@import './utilities/_typography.pcss';
@tailwind utilities;

/* LPress Templates */

@import './lpress/pages/staff.pcss';
