/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Pre-flight Styles */
@import "@lform/lwind/css/base/_global.pcss";
@import "@lform/lwind/css/base/_site.pcss";

/* UI Components */
@import "@lform/lwind/css/components/_layout.pcss";
@import "@lform/lwind/css/components/_container.pcss";
@import "@lform/lwind/css/components/_forms.pcss";
@import "@lform/lwind/css/components/_buttons.pcss";
@import "@lform/lwind/css/components/_richtext.pcss";
@import "@lform/lwind/css/components/_flex-grid.pcss";

/* Utility Classes */
@import "@lform/lwind/css/utilities/_elements.pcss";
@import "@lform/lwind/css/utilities/_typography.pcss";
