.cookie-list {
  .cookie-setting:last-child {
    @apply border-b-0;
  }

  .toggle-label {
    &:before {
      content: "";
      @apply bg-grey-500 border-primary rounded-full border-2 inline-block h-6 w-14;
    }

    &:after {
      content: "";
      left: 0;
      top: 3px;
      @apply absolute h-6 w-6 bg-white rounded-full block border-2 border-primary;
    }
  }
}
