.page-search {
	.results-text,
	.form-area {
		flex: 0 1 rem(512px);
	}

	.search-query {
		&:focus {
			@apply border-primary shadow-none;
			--tw-ring-shadow: none;
		}

		&:focus + .search-icon {
			@apply shadow-none border-primary;
		}
	}
}
