.staff-member {
  img {
    @apply h-48 w-48 rounded-full shadow-md mb-6 border-grey-300 border-4;
  }

  h3 {
    @apply font-bold text-ms-3 mb-2;
  }

  p {
    @apply text-grey-500 uppercase mb-2;
  }
}
