.blog-pages-archive {
  /* The first blog post shows as a 'featured' post, appears larger and full-width */
  .blog-post:first-child {
    @apply md:col-span-2 md:h-96;
    .title {
      @apply md:text-ms-8;
    }
  }
}
