@layer utilities {
  .flex-full {
    flex-basis: 100%;
  }

  /* TODO Remove, refactor to use flex-shrink & flex-grow classes */
  .flex-0-auto {
    flex: 0 0 auto;
  }

  /* TODO Remove, refactor to use flex-shrink & flex-grow classes */
  .flex-1-0-auto {
    flex: 1 0 auto;
  }
}
