/*
 * Shim for negative font-size utilities
 */
@utility -text-ms-* {
	font-size: --value(--text--ms-*);
}

/* Header Font Helpers */
@utility h-ms {
	/* Headers */
	@apply font-header;
	line-height: var(--leading-header, 1.2);
}

@utility -h-ms-3 {
	@apply h-ms;
	@apply -text-ms-3;
}

@utility -h-ms-2 {
	@apply h-ms;
	@apply -text-ms-2;
}

@utility -h-ms-1 {
	@apply h-ms;
	@apply -text-ms-1;
}

@utility h-ms-1 {
	@apply h-ms;
	@apply text-fms-1;
}

@utility h-ms-2 {
	@apply h-ms;
	@apply text-fms-2;
}

@utility h-ms-3 {
	@apply h-ms;
	@apply text-fms-3;
}

@utility h-ms-4 {
	@apply h-ms;
	@apply text-fms-4;
}

@utility h-ms-5 {
	@apply h-ms;
	@apply text-fms-5;
}

@utility h-ms-6 {
	@apply h-ms;
	@apply text-fms-6;
}

@utility h-ms-7 {
	@apply h-ms;
	@apply text-fms-7;
}

@utility h-ms-8 {
	@apply h-ms;
	@apply text-fms-8;
}

@utility h-ms-9 {
	@apply h-ms;
	@apply text-fms-9;
}

@utility h-ms-10 {
	@apply h-ms;
	@apply text-fms-10;
}

@utility h-ms-11 {
	@apply h-ms;
	@apply text-fms-11;
}

@utility h-ms-12 {
	@apply h-ms;
	@apply text-fms-12;
}

@utility h-ms-13 {
	@apply h-ms;
	@apply text-fms-13;
}

/* Accent Font Helpers */
@utility ac-ms {
	@apply font-accent;
	line-height: var(--leading-header, 1.2);
}

@utility -ac-ms-3 {
	@apply ac-ms;
	@apply -text-ms-3;
}

@utility -ac-ms-2 {
	@apply ac-ms;
	@apply -text-ms-2;
}

@utility -ac-ms-1 {
	@apply ac-ms;
	@apply -text-ms-1;
}

@utility ac-ms-1 {
	@apply ac-ms;
	@apply text-fms-1;
}

@utility ac-ms-2 {
	@apply ac-ms;
	@apply text-fms-2;
}
