.site-footer {
  @apply block bg-primary text-white font-body text-ms-0;

  a {
    @apply text-secondary no-underline;
  }

  svg {
    @apply h-6 w-6;
  }

  /* Utility nav area */
  .nav-lvl-0 {
    @apply flex justify-around flex-col md:flex-row;

    .lvl-0 {
      @apply mr-12;
    }
  }
}
