.site-header {
	.search-area {
		.search-input {
			&:focus {
				@apply border-primary shadow-none;
				--tw-ring-shadow: none;
			}
			&:focus + .search-icon {
				@apply shadow-none border-primary;
			}
		}
	}
}
