.site-footer {
	a {
		@apply text-secondary no-underline;
	}

	/* Utility nav area */

	.privacy-nav-area {
		.nav-lvl-0 {
			@apply flex justify-around flex-col md:flex-row;

			.lvl-0 {
				@apply mr-12;
			}
		}
	}
}
