/* Add all preflight options here for global-styling */
@layer base {
	*,
	*::before,
	*::after {
		@apply box-border;
	}

	html {
		scroll-behavior: smooth;
		font-size: 16px;
	}

	html,
	body {
		@apply w-full;
	}

	body {
		@apply antialiased font-body bg-white text-black leading-normal;
		font-size: 1em;
	}

	a {
		@apply text-primary;
	}

	img {
		@apply h-auto max-w-full align-middle;
	}
}
