/* Add all preflight options here for base-styling */
@layer base {
	a {
		color: theme('colors.primary.DEFAULT');
	}

	input:not([type='checkbox'], [type='radio']),
	textarea,
	select {
		background-color: theme('colors.white.DEFAULT');
	}

	body {
		background: #fffaaa;
	}
}
