@layer components {
	/* `container` class defaults to max, add smaller variants below */
	.container-sm,
	.container-md,
	.container-lg {
		@apply container;
	}

	.container-sm {
		max-width: theme('screens.sm');
	}

	.container-md {
		max-width: theme('screens.md');
	}

	.container-lg {
		max-width: theme('screens.lg');
	}
}
