/* Form Messages */
.form-message {
	@apply px-4 py-3 rounded-sm border-l-4 border-gray-700 bg-gray-100 leading-normal;

	.form-message-header {
		@apply -text-ms-1 font-bold text-gray-700 mb-1;
	}

	&.info {
		border-color: var(--color-feedback-info);
		.form-message-header {
			color: var(--color-feedback-info);
		}
	}

	&.success {
		border-color: var(--color-feedback-success);
		.form-message-header {
			color: var(--color-feedback-success);
		}
	}

	&.warning {
		border-color: var(--color-feedback-warning);
		.form-message-header {
			color: var(--color-feedback-warning);
		}
	}

	&.error {
		border-color: var(--color-feedback-error);
		.form-message-header {
			color: var(--color-feedback-error);
		}
	}
}
