/* Form Messages */
.form-message {
	@apply bg-gray-100 rounded-sm mb-4 p-4;

	.form-message-header {
		@apply font-bold mb-2;
	}

	&.info {
		background: var(--color-feedback-info);
	}

	&.success {
		background: var(--color-feedback-success);
	}

	&.warning {
		background: var(--color-feedback-warning);
	}

	&.error {
		background: var(--color-feedback-error);
	}
}
